body{
  background: : red;
  padding-left: 50px;
    padding-left: 50px;
      padding-left: 50px;
        padding-left: 50px;
          padding-left: 50px;
            padding-left: 50px;
              padding-left: 50px;
              padding-left: 50px;
              padding-left: 50px;
              padding-left: 50px;
              padding-left: 50px;
              padding-left: 50px;
  margin: auto;
  margin: auto;
  margin: auto;
  margin: auto;
  margin: auto;
  margin: auto;
  margin: auto;
  margin: auto;

}
